ProveedoresOnLine.ThirdKnowledge/ProveedoresOnLine.ThirdKnowledge/Service References/WS_Inspekt/wsinspektor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/SecureWebService/SecureWebService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/SecureWebService/SecureWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de Consultas en Inspektor</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SecureWebService/SecureWebService">
      <s:element name="ConsultaInspektor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Numeiden" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaInspektorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaInspektorResult" type="tns:ArrayOfResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Resultado" nillable="true" type="tns:Resultado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Resultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdGrupo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreGrupo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prioridad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoIdentidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCompleto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdTipoLista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreTipoLista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CargoDelito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Peps" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zona" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtraInformacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaActualizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdLista" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Autenticacion" type="tns:Autenticacion" />
      <s:complexType name="Autenticacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioClave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioNombre" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ConsultaInspektorXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Numeiden" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaInspektorXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaInspektorXMLResult" type="tns:ArrayOfResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfResultado" nillable="true" type="tns:ArrayOfResultado" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaInspektorSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaInspektor" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaInspektorResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaInspektorXML" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaInspektorXMLResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorXMLAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorHttpGetIn">
    <wsdl:part name="Numeiden" type="s:string" />
    <wsdl:part name="Nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfResultado" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorXMLHttpGetIn">
    <wsdl:part name="Numeiden" type="s:string" />
    <wsdl:part name="Nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfResultado" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorHttpPostIn">
    <wsdl:part name="Numeiden" type="s:string" />
    <wsdl:part name="Nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfResultado" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorXMLHttpPostIn">
    <wsdl:part name="Numeiden" type="s:string" />
    <wsdl:part name="Nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfResultado" />
  </wsdl:message>
  <wsdl:portType name="WS-InspektorSoap">
    <wsdl:operation name="ConsultaInspektor">
      <wsdl:input message="tns:ConsultaInspektorSoapIn" />
      <wsdl:output message="tns:ConsultaInspektorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaInspektorXML">
      <wsdl:input message="tns:ConsultaInspektorXMLSoapIn" />
      <wsdl:output message="tns:ConsultaInspektorXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS-InspektorHttpGet">
    <wsdl:operation name="ConsultaInspektor">
      <wsdl:input message="tns:ConsultaInspektorHttpGetIn" />
      <wsdl:output message="tns:ConsultaInspektorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaInspektorXML">
      <wsdl:input message="tns:ConsultaInspektorXMLHttpGetIn" />
      <wsdl:output message="tns:ConsultaInspektorXMLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS-InspektorHttpPost">
    <wsdl:operation name="ConsultaInspektor">
      <wsdl:input message="tns:ConsultaInspektorHttpPostIn" />
      <wsdl:output message="tns:ConsultaInspektorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaInspektorXML">
      <wsdl:input message="tns:ConsultaInspektorXMLHttpPostIn" />
      <wsdl:output message="tns:ConsultaInspektorXMLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS-InspektorSoap" type="tns:WS-InspektorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaInspektor">
      <soap:operation soapAction="http://tempuri.org/SecureWebService/SecureWebService/ConsultaInspektor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ConsultaInspektorAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaInspektorXML">
      <soap:operation soapAction="http://tempuri.org/SecureWebService/SecureWebService/ConsultaInspektorXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ConsultaInspektorXMLAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS-InspektorSoap12" type="tns:WS-InspektorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaInspektor">
      <soap12:operation soapAction="http://tempuri.org/SecureWebService/SecureWebService/ConsultaInspektor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ConsultaInspektorAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaInspektorXML">
      <soap12:operation soapAction="http://tempuri.org/SecureWebService/SecureWebService/ConsultaInspektorXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ConsultaInspektorXMLAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS-InspektorHttpGet" type="tns:WS-InspektorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConsultaInspektor">
      <http:operation location="/ConsultaInspektor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaInspektorXML">
      <http:operation location="/ConsultaInspektorXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS-InspektorHttpPost" type="tns:WS-InspektorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConsultaInspektor">
      <http:operation location="/ConsultaInspektor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaInspektorXML">
      <http:operation location="/ConsultaInspektorXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS-Inspektor">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de Consultas en Inspektor</wsdl:documentation>
    <wsdl:port name="WS-InspektorSoap" binding="tns:WS-InspektorSoap">
      <soap:address location="http://190.242.114.111:2021/WSInspektor.asmx" />
    </wsdl:port>
    <wsdl:port name="WS-InspektorSoap12" binding="tns:WS-InspektorSoap12">
      <soap12:address location="http://190.242.114.111:2021/WSInspektor.asmx" />
    </wsdl:port>
    <wsdl:port name="WS-InspektorHttpGet" binding="tns:WS-InspektorHttpGet">
      <http:address location="http://190.242.114.111:2021/WSInspektor.asmx" />
    </wsdl:port>
    <wsdl:port name="WS-InspektorHttpPost" binding="tns:WS-InspektorHttpPost">
      <http:address location="http://190.242.114.111:2021/WSInspektor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>