MarketPlace/MarketPlace.Web/Service References/WS_Inspector/wsinspektor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/SecureWebService/SecureWebService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/SecureWebService/SecureWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de Consultas en Inspektor</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SecureWebService/SecureWebService">
      <s:element name="ConsultaInspektor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Numeiden" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaInspektorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaInspektorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Autenticacion" type="tns:Autenticacion" />
      <s:complexType name="Autenticacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioClave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioNombre" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaInspektorSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaInspektor" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaInspektorResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaInspektorAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:portType name="WS-InspektorSoap">
    <wsdl:operation name="ConsultaInspektor">
      <wsdl:input message="tns:ConsultaInspektorSoapIn" />
      <wsdl:output message="tns:ConsultaInspektorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS-InspektorSoap" type="tns:WS-InspektorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaInspektor">
      <soap:operation soapAction="http://tempuri.org/SecureWebService/SecureWebService/ConsultaInspektor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ConsultaInspektorAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS-InspektorSoap12" type="tns:WS-InspektorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaInspektor">
      <soap12:operation soapAction="http://tempuri.org/SecureWebService/SecureWebService/ConsultaInspektor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ConsultaInspektorAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS-Inspektor">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de Consultas en Inspektor</wsdl:documentation>
    <wsdl:port name="WS-InspektorSoap" binding="tns:WS-InspektorSoap">
      <soap:address location="https://wsinspektorssl.riskconsultingcolombia.com:444/wsinspektor.asmx" />
    </wsdl:port>
    <wsdl:port name="WS-InspektorSoap12" binding="tns:WS-InspektorSoap12">
      <soap12:address location="https://wsinspektorssl.riskconsultingcolombia.com:444/wsinspektor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>